* {
    padding: 0;
    margin: 0;
}

.searchform {
    width: 30%;
    margin: 30px auto;
    display: flex;
}


.search input {
    float: left;
    width: 400px;
/ / 左浮动 height: 30 px;
    outline: none;
    border: 1px solid black;
    box-sizing: border-box;
    padding-left: 10px;
}

.searchform button  {
    height: 30px;
    width: 100px;
    background-color: blue;
    color: white;
    border-style: none;
    outline: none;
}

.search form button[type=submit] i {
    font-style: normal;
}

.search form button[type=submit]:hover {
    font-size: 18px;
}

.results {
    margin: 0 50px auto;
}

