
@main("RedditLytics") {
    <html>
    <body data-ws-url="ws://localhost:9000/ws">
    <div style="text-align: center;">
        <h1>Welcome to RedditLytics</h1>
    </div>
    <div class="search" id="search">
        <form id="searchForm">
        <input type="text" placeholder="Enter search terms" name="" id="searchKey" value="" />
            <button id="searchbtn"><i>Go</i></button>
        </form>
    </div>
    <div class="results" id="result">
    </div>
    </body>
        <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/2.1.1/jquery.js"></script>
        <script src="@routes.Assets.versioned("javascripts/reddit.js")" type="text/javascript"></script>
    </html>
}